.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  background-color: #ddd;
  min-height: 100vh;
  background-size: cover;
  padding: 10px;
}
.heading {
  color: black;
  font-weight: bold;
}
.heading-container {
  background-image: url("https://wallpapers.com/images/featured/pastel-aesthetic-pictures-7m6fad3x90p3x6nz.jpg");
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.products-loader-container {
  margin: 20px;
  width: 100px;
}

.App-link {
  color: #61dafb;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.movie-card {
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  text-align: center;
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
